* {
  cursor: url('pleading.png'), auto;
}

.textarea-tweak {
  outline: none;
  overflow: hidden;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0.2rem;
  resize: none;
}
